body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer-boundary {
    padding: 20px;
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    gap: 20px;
    width: 1230px;
    height: 680px;
}

.filter {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.trans-region {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.trans-list {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(0, 117, 70) white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.t-checkbox[type="checkbox"] {
    accent-color: rgb(0, 117, 70);
    height: 25px;
    width: 25px;
    display: inline;
    margin-top: 13px;
}

.func-list {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.filter-region {
    display: grid;
    grid-template-columns: 80px 80px 150px 120px 100px 100px 100px 120px 120px;
}

.filt-selector {
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgb(0, 117, 70);
    border-radius: 20px;
    height: 25px;
    margin-top: -3px;
}
