.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    /*Chia làm 2 cột, cột bên trái cho sidebar*/
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffddfb;
}

.left-sidebar {
    background: #7a1f6f;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-info {
    padding-top: 30px;
    text-align: center;
}

/*Add this*/
.def-avt {
    width: 70px;
}
/*Add this*/

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-chosen {
    background: white;
    border: 2px solid white;
    color: #7a1f6f;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.menu-item {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: white;
    color: #7a1f6f;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1.5fr;
    gap: 20px;
}

.summary {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}

.transactions {
    border: 2px solid purple;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.trans-spacing-line {
    height: 0.5px;
    border-color: purple;
    background-color: #7a1f6f;
}

.chart {
    border: 2px solid purple;
    border-radius: 20px;
    grid-column: 2;
    grid-row: 1 / span 2; /*Bắt đầu hàng 1, trải dài đến hàng 2*/
    background-color: white;
}

.summary-line {
    height: 0.5px;
    border-color: purple;
    background-color: #7a1f6f;
}

.recent-trans {
    height: 300px;
    /*Cần có cho overflow-y để kích hoạt cuộn*/
    overflow-y: auto;
    /* Tự động hiện thanh cuộn dọc khi nội dung vượt quá height */
    overflow-x: hidden;
    /* Ẩn thanh cuộn ngang nếu không cần thiết */
    scrollbar-color: purple #fff8fe;
}

.rt-item {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    padding: 5px;
    display: grid;
    grid-template-columns: 1.75fr 0.75fr 0.75fr 0.5fr;
    margin-bottom: 10px;
    /* Ngăn cách giữa các phần tử trong danh sách*/
}

.ei-name {
    display: inline;
}

.ei-date {
    display: inline;
}

.ei-price {
    display: inline;
}

.ei-type {
    display: inline;
}

.trans-list {
    list-style: none;
    margin-left: 0;
    padding-bottom: 5px;
}

.logo-img {
    width: 70px;
    display: block;
    margin: 0 auto;
}
