body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer-boundary {
    padding: 20px;
    display: grid;
    grid-template-columns: 0.75fr 1.5fr;
    grid-template-rows: 1fr 1.2fr;
    gap: 20px;
    width: 1230px;
    height: 680px;
}

.general-stat {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.recent-transactions {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.chart {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    grid-column: 1 / span 2;
    /* Kéo 1 phần tử trong lưới dài đến cột 2 */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.trans-list {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(0, 117, 70) white;
}

.pie-chart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Gradient sẽ được truyền từ inline style trong JSX */
    border: 2px solid #ffffff;
    margin-left: 70px;
    margin-top: -20px;
}

.bar-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 150px;
    border-left: 2px solid #555;
    border-bottom: 2px solid #555;
    padding: 10px;
}

.bar {
    width: 30px;
    background: #007546;
    transition: height 0.5s ease;
    position: relative;
}

.bar-label {
    position: absolute;
    bottom: -25px;
    font-size: 10px;
    width: 100%;
    text-align: center;
}

.filt-selector {
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgb(0, 117, 70);
    border-radius: 20px;
    height: 25px;
    margin-top: -3px;
    cursor: pointer;
}