.title-t {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

.outer-boundary {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
  /*Cần đi kèm với grid ở phần tử lớn nhất*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddfff7;
  overflow: hidden;
  /* Để ý phần trên về sau */
}

.left-sidebar {
  background: rgb(0, 117, 70);
  display: grid;
  grid-template-rows: 210px 230px 120px;
}

.account-sect {
  padding-top: 30px;
  display: grid;
  justify-items: center;
  /* Căn chỉ mục theo phương dọc*/
  margin-bottom: 50px;
}

.menu-sect {
  display: grid;
  justify-items: center;
  /* Hai dòng trên căn phần tử trong mỗi hàng ra giữa (rows của grid ở left-sidebar)*/
}

.def-avt {
  width: 70px;
}

.link-button {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 17px;
  width: 200px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.link-button:hover {
  background-color: white;
  color: rgb(0, 117, 70);
}

.link-button-active {
  border: 2px solid white;
  background-color: white;
  border-radius: 20px;
  font-size: 17px;
  width: 200px;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  color: rgb(0, 117, 70);
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: bold;
}

.logout-button {
  border: 2px solid white;
  border-radius: 20px;
  font-size: 17px;
  background-color: transparent;
  width: 205px;
  height: 43px;
  text-align: center;
  padding-top: 0px;
  color: white;
  text-decoration: none;
}

.logout-button:hover {
  background-color: white;
  color: rgb(0, 117, 70);
}

.logo-sect {
  display: grid;
  justify-items: center;
  /* Hai dòng trên căn phần tử trong mỗi hàng ra giữa (rows của grid ở left-sidebar)*/
}

.logo-img {
  width: 70px;
  display: block;
  margin: 0 auto;
}