.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffddfb;
}

.left-sidebar {
    background: #7a1f6f;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-info {
    padding-top: 30px;
    text-align: center;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item-chosen {
    background: white;
    border: 2px solid white;
    color: #7a1f6f;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.menu-item {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.menu-item:hover {
    background: white;
    color: #7a1f6f;
}

.content {
    padding: 20px;
    display: grid;
    grid-template-rows: 50px 500px 70px;
    /* Ba hàng, hàng 1 50px*/
    gap: 20px;
}

.filter-row {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    display: flex;
    /*Cần có để dùng align-items*/
    align-items: center;
    /* Căn giữa item ở đây*/

}

.filter-title {
    display: inline;
    margin-right: 40px;
    margin-left: 20px;
}

.filter-type-name {
    display: inline;
}

.filt-select {
    margin-left: 5px;
    margin-right: 20px;
    border: 2px solid purple;
    height: 30px;
    border-radius: 20px;
    background-color: white;
}

.el-border {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    height: 485px;
    padding-top: 15px;
    padding-bottom: 15px;
    /*Đẩy thanh scrollbar vào trong*/
}

.expense-list {
    padding-top: 20px;
    padding-left: 20px;
    /*Đẩy phần tử con trong vùng chứa vào 1 khoảng bên trái*/
    padding-right: 35px;
    padding-bottom: 20px;
    /*Padding tác động vào bên trong phần tử*/
    box-sizing: border-box;
    /*Ngăn padding không làm tăng chiều rộng tổng của khung*/
    height: 485px;
    /*Cần có cho overflow-y để kích hoạt cuộn, cần chỉnh thấp hơn vùng chứa cha 1 chút*/
    overflow-y: auto;
    /* Tự động hiện thanh cuộn dọc khi nội dung vượt quá height */
    overflow-x: hidden;
    /* Ẩn thanh cuộn ngang nếu không cần thiết */
    scrollbar-color: purple #fff8fe;
    /*Có thể không hỗ trợ bởi 1 số trình duyệt*/
}

.expense-item {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    /*Đặt trong item, đặt 1 khoảng cách ở dưới cho mỗi phần tử*/
    display: grid;
    grid-template-columns: 1.75fr 0.75fr 0.75fr 1fr 0.25fr;
}

.ei-checkbox[type="checkbox"] {
    accent-color: purple;
    height: 25px;
    width: 25px;
    display: inline;
    margin-top: 13px;
}

.ei-name {
    display: inline;
}

.ei-date {
    display: inline;
}

.ei-price {
    display: inline;
}

.ei-type {
    display: inline;
}

.el-edit {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    display: flex;
    /*Cần có để dùng align-items*/
    align-items: center;
    /* Căn giữa item ở đây*/
    padding: 20px;
    margin-top: 20px;
}

.button-list {
    display: grid;
    grid-template-columns: 75px 75px;
}

.ed-item {
    border: 2px solid purple;
    border-radius: 30px;
    background-color: white;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*align-items và justify-items cần đi cùng với nhau*/
    font-size: 60px;
    margin-top: 20px;
}

.ed-item:hover {
    background-color: purple;
    color: white;
}

.ed-item-delete {
    border: 2px solid purple;
    border-radius: 30px;
    background-color: white;
    margin-right: 20px;
    height: 52px;
    width: 52px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    /*align-items và justify-items cần đi cùng với nhau*/
    font-size: 30px;
    margin-top: 20px;
}

.ed-item-delete:hover {
    background-color: purple;
    color: white;
}

.el-form {
    padding-left: 20px;
    padding-right: 20px;
}

.el-text-input {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: purple;
    padding: 7px;
    font-size: 15px;
    color: white;
    height: 20px;
    margin-top: 2px;
}

.el-text-input:focus {
    /*Có tác dụng khi người dùng nhập vào trường văn bản*/
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.el-part {
    display: grid;
    grid-template-columns: 200px 500px;
}

.el-part-trans-type {
    display: grid;
    grid-template-columns: 200px 200px;
}

.saving-button {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: white;
    height: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}

.saving-button:hover {
    border: 2px solid purple;
    border-radius: 20px;
    background-color: purple;
    color: white;
}

.logo-img {
    width: 70px;
    display: block;
    margin: 0 auto;
}
