body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer-boundary {
    padding: 20px;
    display: grid;
    grid-template-columns: 0.75fr 1.5fr;
    grid-template-rows: 1fr 1.2fr;
    gap: 20px;
    width: 1230px;
    height: 680px;
}

.general-stat {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.recent-transactions {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.chart {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    grid-column: 1 / span 2;
    /* Kéo 1 phần tử trong lưới dài đến cột 2 */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

.trans-list {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: rgb(0, 117, 70) white;
}
