body {
    font-family: Arial, Helvetica, sans-serif;
}

.outer-boundary {
    display: grid;
    grid-template-rows: 350px 230px;
    gap: 20px;
}

.budget-region {
    border: 1.5px solid rgb(233, 244, 239);
    border-radius: 15px;
    background-color: rgb(233, 244, 239);
}

.stat-region {
    border: 1.5px solid rgb(233, 244, 239);
    border-radius: 15px;
    background-color: rgb(233, 244, 239);
}

.filter-section {
    padding-left: 15px;
    padding-top: 15px;
}

.filt-selector {
    margin-right: 10px;
    margin-left: 10px;
    border: 2px solid rgb(0, 117, 70);
    border-radius: 20px;
    height: 25px;
    margin-top: -3px;
    cursor: pointer;
}
